<!DOCTYPE html>
<html>
	<head>
		<title>Star Tracker</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>

	<body>
	<div align=center>
		<button id="start_btn" style="background:green;" class="pure-button">
			<a href="/start">Start</a>
		</button>
		<button id="stop_btn" style="background:red;" class="pure-button">
			<a href="/stop">Stop</a>
		</button>
	</div>
	<div align=center>
		<button id="reverse_btn" class="pure-button">
			<a href="/reverse">Reverse</a>
		</button>
	</div>
	<div align=center>
		<button id="slower_btn" class="pure-button">
			<a href="/slower">--</a>
		</button>
		<label> Speed </label>		
		<button id="faster_btn" class="pure-button">
			<a href="/faster">++</a>
		</button>
	</div>
	</body>
</html>
